google_api_python_client==2.84.0
google_auth_oauthlib==1.0.0
gradio==3.35.2
joblib==1.2.0
matplotlib==3.7.1
numpy==1.22.4
pandas==1.5.3
Pillow==8.4.0
Pillow==9.5.0
protobuf==3.20.3
scikit_learn==1.2.2
streamlit==1.24.0
